.nice-font{
    font-family:Roboto, Geneva, Tahoma, sans-serif;
    color:#CAC6FF
}
.txt{
    margin-left:30px;
}
h3{text-transform: uppercase
}
.col-md-6{
border-left: 1px solid grey;
}
.row{
border-bottom: 1px solid grey;
border-spacing: 10px;
border-inline-start: 10px;
}

body{
    background: url(https://image.shutterstock.com/z/stock-vector-seamless-pattern-of-gray-cubes-endless-black-and-white-cubic-background-cube-pattern-abstract-272062397.jpg);
}
.container{
    background-color: white;
}

image: url(https://media.licdn.com/mpr/mpr/shrinknp_200_200/AAEAAQAAAAAAAAh5AAAAJGZkOTU1YThiLTljYTUtNGZhZC1hODQyLTFmYmRjYTBhZDRlNQ.jpg)